# Replace this with the public production Strapi origin before deploying.
#NEXT_APOLLO_CLIENT_URL=https://busco-strapi-8fc249669c79.herokuapp.com
#NEXT_PUBLIC_APOLLO_CLIENT_URL=https://busco-strapi-8fc249669c79.herokuapp.com
